*
!*/
!.gitignore
!clean.sh
!CMakeLists.txt
!README.md
!LICENSE

!ff/
!ff/**

!git-size/
!git-size/**

!git-summary/
!git-summary/**

!hex/
!hex/**

!lip/
!lip/**

!magic/
!magic/**

!pfd/
!pfd/**

!rn/
!rn/**

!thumbgen/
!thumbgen/**